.App {
  text-align: center;
  font-family: 'Roboto'
}

.Categoria-ButtonSelected{
  background-color: #FEAD0E !important;
  border-color:  #FEAD0E !important;
  font-style: medium;
}

.categoriaMenu{
  background-color:white !important;
  border-bottom-color: white !important;
  border-color:  white !important;
}

.Categoria-Button{
  background-color: white !important;
  color: black !important;
  font-style: medium;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.divisor {
    position:absolute;
		top: 10px;
		left: 0px;
    z-index: 1;
    margin-top: 50px;
}

.iconCategoria{
    margin-top: 30px;
    position:absolute;
		top: '25%';
		left: 0px;
		z-index: 2;
}

.edit {
  background-color: #2980b9; /* Green */
  border: none;
  color: #2980b9;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
